@import "null.css";
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularSt-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
.wrapper {
	font-family: "Oswald", sans-serif;
	font-size: 18px;
	color: #333333;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
.header {
	margin: 0 0 15px;
}
.menu {
	text-align: center;
}
.menu ul li {
	display: inline-block;
	margin: 0 30px;
}
.head-ind {
	line-height: 1.25;
	font-weight: 700;
	font-size: 24px;
}
.name-header {
	text-align: center;
	font-size: 45px;
	margin: 0 0 15px;
}
.name-image {
	text-align: center;
	margin: 0 0 10px;
}
.name-image img {
	width: 320px;
	height: 300px;
	border-radius: 50%;
}
.name-text {
	border: 2px solid green;
	line-height: 1.3;
	margin: 0 0 20px;
	padding: 5px;
}
.live-header {
	text-align: center;
	margin: 0 0 15px;
}
.live-image {
	text-align: center;
	margin: 0 0 20px;
}
.live-image img {
	width: 500px;
	border-radius: 20px 0 20px 0;
}
.live-text {
	outline: 2px dotted yellow;
	line-height: 1.5;
	margin: 0 0 20px;
	padding: 15px;
}
.looks-like-header {
	text-align: center;
	margin: 0 0 15px;
}
.looks-like-image {
	text-align: center;
	margin: 0 0 10px;
}
.looks-like-image img {
	width: 500px;
	border-radius: 0 20% 0 20%;
}
.looks-like-text {
	border: 5px double blue;
	line-height: 1.4;
	margin: 0 0 20px;
	padding: 15px;
	opacity: 0.5;
}
.lifestyle-header {
	text-align: center;
	margin: 0 0 10px;
}
.lifestyle-image {
	text-align: center;
	margin: 0 0 15px;
}
.lifestyle-image img {
	width: 500px;
	box-shadow: 7px 7px 9px 0 gray;
}
.lifestyle-text {
	outline: 4px dashed seagreen;
	line-height: 1.5;
	margin: 0 0 20px;
	padding: 15px;
}
.invisible {
	visibility: hidden;
}
.no-text {
	display: none;
}
.footer-text {
	line-height: 1.5;
	margin: 0 0 10px;
}
.footer-image img {
	width: 300px;
	height: 300px;
	box-shadow: 10px 3px 14px 0 #000;
	border-radius: 50%;
}
/*======================Макет===========================*/
.wrapper-maket {
	font-family: "CircularStd", sans-serif;
	font-size: 18px;
	min-height: 100%;
	overflow: hidden;
	color: #5f5f5f;
}
.head {
	text-align: center;
}
.head-header {
	font-size: 65px;
	line-height: 1.26;
	color: #313131;
	margin: 0 0 20px;
	font-weight: 500;
}
.head-text {
	font-size: 20px;
	line-height: 1.25;
	max-width: 750px;
	margin: 0 auto 224px;
}
.comments {
	max-width: 508px;
}
.cooments-head {
	font-weight: 700;
	font-size: 34px;
	line-height: 1.29;
	color: #313131;
	margin: 0 0 20px;
	opacity: 0.88;
}
.comments-text {
	line-height: 1.55;
	margin: 0 0 125px;
}
.comments-name {
	line-height: 1.27;
	color: #313131;
	font-weight: 700;
	opacity: 0.88;
	margin: 0 0 5px;
}
.comments-job {
	line-height: 1.27;
	color: #b8b8b8;
	margin: 0 0 15px;
}
